form .field {
    @apply my-3;
}

form label {
    @apply mb-2 block text-secondary-darker;
}

form .field.choice {
    @apply flex items-center
}

form .field.choice input {
    @apply mr-4
}

form .field.choice label {
    @apply mb-0
}

form legend {
    @apply text-primary text-xl mb-3
}

form legend + br {
    @apply hidden
}

fieldset ~ fieldset {
    @apply mt-8;
}
