/**
 * Button styles for Hyva theme
 * This file contains component class for buttons with different styles and sizes.
 *
 * Please avoid using `@apply` for the button styles to ensure compatibly for future versions.
 * Instead, use the component class directly in your HTML.
 * The `@utility` directive is used, for backwards compatibility, to define button styles.
 */

@utility btn {
    --btn-stroke: #0000;
    --btn-bg: var(--color-slate-200);
    --btn-hover-bg: var(--color-slate-300);
    --btn-active-bg: var(--color-slate-300);
    --btn-color: var(--color-slate-900);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: --spacing(1.5);
    padding-block: --spacing(2);
    padding-inline: --spacing(4);
    border-radius: var(--radius-lg);
    border-width: 2px;
    border-color: var(--btn-stroke);
    background-color: var(--btn-bg);
    color: var(--btn-color);
    font-weight: 500;
    user-select: none;
    vertical-align: middle;
    transition-property: color, background-color, border-color, outline-color,
        text-decoration-color, fill, stroke, --tw-gradient-from,
        --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);

    &:hover {
        border-color: var(--btn-hover-stroke, var(--btn-stroke));
        background-color: var(--btn-hover-bg, var(--btn-bg));
        color: var(--btn-hover-color, var(--btn-color));
    }

    &:is(:active, .is-active, [aria-current="page"], [aria-current="true"]) {
        border-color: var(--btn-active-stroke, var(--btn-stroke));
        background-color: var(--btn-active-bg, var(--btn-bg));
        color: var(--btn-active-color, var(--btn-color));
    }

    &:is(:disabled, [aria-disabled="true"]) {
        border-color: var(--btn-disabled-stroke, var(--color-gray-200));
        background-color: var(--btn-disabled-bg, var(--color-white));
        color: var(--btn-disabled-color, var(--color-gray-600));
        cursor: not-allowed;
    }
}

@utility btn-primary {
    --btn-stroke: #0000;
    --btn-bg: var(--color-primary);
    --btn-color: var(--color-on-primary);

    --btn-hover-stroke: #0000;
    --btn-hover-bg: var(--color-primary-lighter);
    --btn-hover-color: var(--color-on-primary);

    --btn-active-stroke: #0000;
    --btn-active-bg: var(--color-primary-lighter);
    --btn-active-color: var(--color-on-primary);
}

@utility btn-secondary {
    --btn-stroke: var(--color-primary-lighter);
    --btn-bg: var(--color-on-primary);
    --btn-color: currentcolor;

    --btn-hover-stroke: var(--color-primary);
    --btn-hover-bg: var(--color-on-primary);
    --btn-hover-color: var(--color-primary);

    --btn-active-stroke: #0000;
    --btn-active-bg: var(--color-primary-darker);
    --btn-active-color: var(--color-on-primary);
}

.btn-size-lg {
    @apply px-10 py-4 text-lg;
}

.btn-size-sm {
    @apply px-2 py-2 text-sm;
}

/* @deprecated */
.action.primary {
    @apply btn btn-primary;
}
