body {
    overflow-y: scroll;
}
.page-main {
    @apply my-8;
}

.container {
    @apply mx-auto px-6;
}

.flex-columns-wrapper {
    @apply flex flex-col;

    @screen md {
        @apply flex-row;
    }
}

.columns {
    @apply flex flex-wrap order-first flex-col;

    .sidebar,
    .main {
        @apply w-full;
    }

    @screen md {
        @apply flex-row;

        .sidebar {
            @apply w-1/3 pr-8;
        }
    }
}

.page-layout-2columns-left,
.page-layout-2columns-right {
    .columns .main {
        @apply w-full;
    }

    @screen md {
        .columns .main {
            @apply w-2/3;
        }
    }
}

.product-image-container {
    width: 100% !important;

    img {
        width: 100%;
    }
}
