body {
    @apply bg-container;
}

[x-cloak] {
    display: none !important;
}

.card {
    @apply p-4 rounded-sm bg-container-lighter shadow print:border;
}

.card-interactive {
    &:hover {
        @apply bg-container;
    }
}
