#cart-drawer {
    @apply text-black;
}

.input {
    @apply w-auto rounded mr-2 border text-base py-2 px-4;

    @screen md {
        @apply mr-4;
    }
    @screen lg {
        @apply mr-0;
    }
    @screen xl {
        @apply mr-4;
    }

    &-light {
        @apply bg-white border-gray-400;

        &:focus {
            @apply outline-none border-indigo-500;
        }
    }
}

.btn {
    @apply py-2 px-6 text-lg uppercase;

    &:hover {
        @apply text-black bg-white;
    }

    &-primary {
        @apply bg-primary border border-primary-darker text-white;

        &:hover {
            @apply bg-primary-darker border border-primary text-white;
        }
    }

    &-secondary {
        @apply bg-secondary border border-secondary-darker text-black;

        &:hover {
            @apply bg-secondary-darker border border-secondary text-black;
        }
    }
}

.card {
    @apply p-4 rounded-md bg-gray-100 shadow;

    &:hover {
         @apply bg-gray-200;
     }
}
