/* purgecss start ignore */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap'); */

@tailwind  base;


    .text-open-sans {
        font-family: 'Open Sans', sans-serif;
    }
    .text-roboto {
        font-family: 'Roboto', sans-serif;
    }

    .font-title {
        @apply text-roboto;
    }
    html {
        @apply antialiased;
    }
    body {
        @apply bg-white text-gray-600 text-open-sans leading-normal text-base tracking-normal;
    }
    .page-header {
        @apply sticky top-0 z-10;
    }
    .page-main {
    }

    .container {
        @apply mx-auto;
    }
    .columns {
        @apply flex flex-wrap text-center order-first;
    }
    .columns .sidebar {
        @apply w-1/5 pr-4;
    }
    .columns .main {
        @apply w-full;
    }
    .page-layout-2columns-left .columns .main {
       @apply w-4/5;
    }

    .page-layout-2columns-right .columns .main {
        @apply w-4/5;
    }

@tailwind  components;

    .input {
        @apply w-auto rounded mr-2 border text-base py-2 px-4;
    }

    .input-light {
        @apply bg-gray-100 border-gray-400;
    }

    .imput-light:focus {
        @apply outline-none border-indigo-500;
    }

    .btn {
        @apply inline-flex text-white bg-black border-0 py-2 px-6 rounded text-lg
    }
    .btn:focus {
        @apply outline-none;
    }
    .btn:hover {
        @apply text-black bg-white;
    }

    .btn-primary {
        @apply bg-primary;
    }
    .btn-primary:hover {
        @apply bg-primary-lighter;
    }

    .btn-secondary {
        @apply bg-secondary;
    }
    .btn-secondary:hover {
        @apply bg-secondary-lighter;
    }

    @media (min-width: 640px) {
        .input {
            @apply mr-4;
        }
    }

    @media (min-width: 1024px) {
        .input {
            @apply mr-0;
        }
    }
    @media (min-width: 1280px) {
        .input {
            @apply mr-4;
        }
    }

/* purgecss end ignore */

@tailwind  utilities;

.duration-200 {
    transition-duration: 200ms;
}
.ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.transition {
    transition: transform 250ms ease, color 250ms ease;
}
.transform-180 {
    transform: rotate(-180deg);
}

.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}
