/**
 * Welcome to your Hyv채 Theme!
 *
 * If you're new to TailwindCSS, get started with the official documentation:
 * https://tailwindcss.com/
 *
 * For Hyv채-specific topics like CSS merging from modules or using design tokens,
 * refer to the Hyv채 Themes documentation:
 * https://docs.hyva.io/hyva-themes/working-with-tailwindcss/index.html
 */

@import "@hyva-themes/hyva-modules/css";
@import "tailwindcss" source(none);
@source "../../**/*.phtml";
@source "../../**/*.xml";

/* Custom styles */
@import "./base";
@import "./components";
@import "./theme";
@import "./utilities";

/* Import generated styles for Hyv채 Compatible Modules and Design Tokens */
@import "./generated/hyva-source.css";
@import "./generated/hyva-tokens.css";

@theme {
    /* @deprecated Will be removed in favor for named variables, in the future */
    --color-container-lighter: #f5f5f5;
    --color-container: #e7e7e7;
    --color-container-darker: #b6b6b6;

    --bg-container-lighter: #fff;
    --bg-container: #fafafa;
    --bg-container-darker: #f5f5f5;
}
