@import "tailwindcss" source(none);
@source "../../**/*.phtml";
@source "../../**/*.xml";

/* Custom styles */
@import "./base";
@import "./components";
@import "./theme";
@import "./utilities";

/* Import generated styles for Hyvä Compatible Modules and Design Tokens */
@import "./generated/hyva-source.css";
@import "./generated/hyva-tokens.css";

@theme {
    --color-bg: var(--color-slate-50);
    --color-text: var(--color-slate-950);
    --color-text-secondary: var(--color-slate-600);
    --color-surface: var(--color-white);

    /* @deprecated Will be removed in favor for named variables, in the future */
    --color-container-lighter: #f5f5f5;
    --color-container: #e7e7e7;
    --color-container-darker: #b6b6b6;

    --bg-container-lighter: #fff;
    --bg-container: #fafafa;
    --bg-container-darker: #f5f5f5;
}
