@layer components {
    .cms-content {
        @apply prose max-w-full;
    }

    /* Alias for overflow-auto, commonly used in cms content */
    .table-wrapper {
        @apply overflow-auto;
    }
}
